---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&location=boise,id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 14:53:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boise,id"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boise","adminArea5Type":"City","adminArea4":"Ada
        County","adminArea4Type":"County","adminArea3":"ID","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087392","unknownInput":"","type":"s","latLng":{"lat":43.615791,"lng":-116.201579},"displayLatLng":{"lat":43.615791,"lng":-116.201579},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&type=map&size=225,160&locations=43.615791,-116.201579|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1560108340"}]}]}'
  recorded_at: Wed, 11 Aug 2021 14:53:31 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=996a17d6a6c5c2aadbc085a736f62c0e&exclude=minutely,alerts&lat=43.615791&lon=-116.201579&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.6158,"lon":-116.2016,"timezone":"America/Boise","timezone_offset":-21600,"current":{"dt":1628693612,"sunrise":1628685927,"sunset":1628736876,"temp":71.65,"feels_like":70.77,"pressure":1015,"humidity":48,"dew_point":50.94,"uvi":1.26,"clouds":41,"visibility":10000,"wind_speed":4.88,"wind_deg":315,"wind_gust":7.23,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628690400,"temp":71.51,"feels_like":70.43,"pressure":1015,"humidity":44,"dew_point":48.47,"uvi":0.39,"clouds":42,"visibility":10000,"wind_speed":2.66,"wind_deg":344,"wind_gust":5.91,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628694000,"temp":71.65,"feels_like":70.77,"pressure":1015,"humidity":48,"dew_point":50.94,"uvi":1.26,"clouds":41,"visibility":10000,"wind_speed":4.88,"wind_deg":315,"wind_gust":7.23,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628697600,"temp":73.4,"feels_like":72.46,"pressure":1015,"humidity":43,"dew_point":49.57,"uvi":2.76,"clouds":42,"visibility":10000,"wind_speed":7.45,"wind_deg":310,"wind_gust":9.93,"weather":[{"id":8[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=43.615791,-116.201579&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a011d81774046bf5bb46c26ba887ec5d"
    body:
      encoding: UTF-8
      string: '[{"id":8038,"obdb_id":"10-barrel-brewing-co-boise-boise","name":"10
        Barrel Brewing Co - Boise","brewery_type":"large","street":"826 W Bannock
        St","address_2":null,"address_3":null,"city":"Boise","state":"Idaho","county_province":null,"postal_code":"83702-5857","country":"United
        States","longitude":"-116.202929","latitude":"43.618516","phone":"2083445870","website_url":"http://www.10barrel.com","updated_at":"2020-10-11T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":8617,"obdb_id":"barbarian-brewing-downtown-taproom-boise","name":"Barbarian
        Brewing - Downtown Taproom","brewery_type":"micro","street":"1022 W Main St","address_2":null,"address_3":null,"city":"Boise","state":"Idaho","county_province":null,"postal_code":"83702-5705","country":"United
        States","longitude":"-116.206883","latitude":"43.618407","phone":"2083872739","website_url":"https://barbarianbrewing.com","updated_at":"2020-10-11T00:00:00.000Z","[...]
