---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&location=location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 23:46:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"location"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lesdins","adminArea5Type":"City","adminArea4":"Aisne","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282387160","unknownInput":"","type":"s","latLng":{"lat":49.8975,"lng":3.328056},"displayLatLng":{"lat":49.8975,"lng":3.328056},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&type=map&size=225,160&locations=49.8975,3.328056|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1595891160"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lestanville","adminArea5Type":"City","adminArea4":"Seine-Maritime","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQua[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=996a17d6a6c5c2aadbc085a736f62c0e&exclude=minutely,alerts&lat=49.8975&lon=3.328056&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":49.8975,"lon":3.3281,"timezone":"Europe/Paris","timezone_offset":7200,"current":{"dt":1628552794,"sunrise":1628569768,"sunset":1628622884,"temp":58.3,"feels_like":58.3,"pressure":1017,"humidity":95,"dew_point":56.88,"uvi":0,"clouds":74,"visibility":10000,"wind_speed":6.38,"wind_deg":201,"wind_gust":9.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1628550000,"temp":58.01,"feels_like":57.97,"pressure":1017,"humidity":95,"dew_point":56.59,"uvi":0,"clouds":73,"visibility":10000,"wind_speed":6.44,"wind_deg":206,"wind_gust":9.51,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.51,"rain":{"1h":0.22}},{"dt":1628553600,"temp":58.3,"feels_like":58.3,"pressure":1017,"humidity":95,"dew_point":56.88,"uvi":0,"clouds":74,"visibility":10000,"wind_speed":6.38,"wind_deg":201,"wind_gust":9.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.59},{"dt":1628557200,"temp":57.94,"feels_like":57.94,"pressure":1017,"humidity":96,"dew_point":56.8,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":6.31,"wind_deg":212,"wind_gust":10.83,"weather":[{"id[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=49.8975,3.328056&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52a383f8c56a7191888cadc8e7fed913"
    body:
      encoding: UTF-8
      string: '[{"id":10635,"obdb_id":"filo-brewing-hastings","name":"The FILO Brewing
        Co Ltd","brewery_type":"micro","street":"Old London Road","address_2":null,"address_3":null,"city":"Hastings","state":null,"county_province":"East
        Sussex","postal_code":"TN34 3HA","country":"England","longitude":"0.596217","latitude":"50.860814","phone":"1424420212","website_url":"http://www.filobrewing.co.uk/","updated_at":"2020-12-30T00:00:00.000Z","created_at":"2020-12-30T00:00:00.000Z"},{"id":9296,"obdb_id":"brewing-brothers-hastings","name":"Brewing
        Brothers Ltd","brewery_type":"brewpub","street":"Queens Road","address_2":null,"address_3":null,"city":"Hastings","state":null,"county_province":"East
        Sussex","postal_code":"TN34 1RL","country":"England","longitude":"0.584234","latitude":"50.860013","phone":"7985505810","website_url":"https://brewingbrothers.org/","updated_at":"2020-12-30T00:00:00.000Z","created_at":"2020-12-30T00:00:00.0[...]
