---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&location=boise,id,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 17:55:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boise,id,"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boise","adminArea5Type":"City","adminArea4":"Ada
        County","adminArea4Type":"County","adminArea3":"ID","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087392","unknownInput":"","type":"s","latLng":{"lat":43.615791,"lng":-116.201579},"displayLatLng":{"lat":43.615791,"lng":-116.201579},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&type=map&size=225,160&locations=43.615791,-116.201579|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1120843067"}]}]}'
  recorded_at: Mon, 09 Aug 2021 17:55:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=996a17d6a6c5c2aadbc085a736f62c0e&exclude=minutely,alerts&lat=43.615791&lon=-116.201579&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.6158,"lon":-116.2016,"timezone":"America/Boise","timezone_offset":-21600,"current":{"dt":1628531745,"sunrise":1628512992,"sunset":1628564245,"temp":71.06,"feels_like":69.6,"pressure":1016,"humidity":37,"dew_point":43.5,"uvi":6.36,"clouds":0,"visibility":10000,"wind_speed":9.57,"wind_deg":298,"wind_gust":9.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1628528400,"temp":71.17,"feels_like":69.58,"pressure":1016,"humidity":34,"dew_point":41.4,"uvi":4.54,"clouds":0,"visibility":10000,"wind_speed":9.42,"wind_deg":300,"wind_gust":10.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628532000,"temp":71.06,"feels_like":69.6,"pressure":1016,"humidity":37,"dew_point":43.5,"uvi":6.36,"clouds":0,"visibility":10000,"wind_speed":9.57,"wind_deg":298,"wind_gust":9.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628535600,"temp":72.43,"feels_like":70.92,"pressure":1016,"humidity":33,"dew_point":41.74,"uvi":7.61,"clouds":0,"visibility":10000,"wind_speed":9.82,"wind_deg":297,"wind_gust":9.73,"weather":[{"id":800,"main":"[...]
