---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&location=boise,id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 21:03:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boise,id"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boise","adminArea5Type":"City","adminArea4":"Ada
        County","adminArea4Type":"County","adminArea3":"ID","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087392","unknownInput":"","type":"s","latLng":{"lat":43.615791,"lng":-116.201579},"displayLatLng":{"lat":43.615791,"lng":-116.201579},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&type=map&size=225,160&locations=43.615791,-116.201579|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1693471499"}]}]}'
  recorded_at: Wed, 11 Aug 2021 21:03:08 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=a8k7m6XH0vJScGY82bDnXhVwsY1cU4TG&location=boise,id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 02 May 2022 02:56:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=996a17d6a6c5c2aadbc085a736f62c0e&exclude=minutely,alerts&lat=43.615791&lon=-116.201579&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.6158,"lon":-116.2016,"timezone":"America/Boise","timezone_offset":-21600,"current":{"dt":1651460214,"sunrise":1651408621,"sunset":1651459594,"temp":55.54,"feels_like":54.23,"pressure":1012,"humidity":73,"dew_point":47.05,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":7.63,"wind_deg":310,"wind_gust":14.12,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1651456800,"temp":55.47,"feels_like":54.05,"pressure":1012,"humidity":71,"dew_point":46.24,"uvi":0.18,"clouds":23,"visibility":10000,"wind_speed":10.27,"wind_deg":304,"wind_gust":16.51,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1651460400,"temp":55.54,"feels_like":54.23,"pressure":1012,"humidity":73,"dew_point":47.05,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":7.63,"wind_deg":310,"wind_gust":14.12,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1651464000,"temp":54.19,"feels_like":52.79,"pressure":1012,"humidity":74,"dew_point":46.09,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":5.08,"wind_deg":333,"wind_gust":7.96,"weather":[{"id":801,"main":[...]
