---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&location=Boise,ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 21:03:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Boise,ID"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boise","adminArea5Type":"City","adminArea4":"Ada
        County","adminArea4Type":"County","adminArea3":"ID","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087392","unknownInput":"","type":"s","latLng":{"lat":43.615791,"lng":-116.201579},"displayLatLng":{"lat":43.615791,"lng":-116.201579},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lOPbJUvhG02ABSCd12UYHlFGmFWATzbm&type=map&size=225,160&locations=43.615791,-116.201579|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2011143484"}]}]}'
  recorded_at: Wed, 11 Aug 2021 21:03:29 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=a8k7m6XH0vJScGY82bDnXhVwsY1cU4TG&location=Boise,ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 02 May 2022 02:57:02 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=43.615791,-116.201579&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d10cf70f8e6703c050b5ae0999853243"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"10-barrel-brewing-co-boise-boise","name":"10 Barrel Brewing
        Co - Boise","brewery_type":"large","street":"826 W Bannock St","address_2":null,"address_3":null,"city":"Boise","state":"Idaho","county_province":null,"postal_code":"83702-5857","country":"United
        States","longitude":"-116.202929","latitude":"43.618516","phone":"2083445870","website_url":"http://www.10barrel.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"barbarian-brewing-downtown-taproom-boise","name":"Barbarian
        Brewing - Downtown Taproom","brewery_type":"micro","street":"1022 W Main St","address_2":null,"address_3":null,"city":"Boise","state":"Idaho","county_province":null,"postal_code":"83702-5705","country":"United
        States","longitude":"-116.206883","latitude":"43.618407","phone":"2083872739","website_url":"https://barbarianbrewing.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"20[...]
